body {
    margin: 0;
    padding: 0;
    background-color: #e1e8ec;
    font-family: 'Ysabeau Office', sans-serif;
}
header {
    display: none;
}

@media screen and (min-width: 768px) {
    /*Estilo para tablet en adelante*/
    header {
        position: fixed;
        left: 0;
        top: 0;
        width: calc(100% - 20px) ;
        background-color: #01587a;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }
    .yellow_text{
        color: #f3ba00;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    .yellow_text:hover {
        color: #f8d966;
    }
    nav ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
        padding: 0;
    
    }
    nav ul li {
        padding-left: 20px;
    }
    .yellow_text h1 {
        margin: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilo solo para tablet */
    
}
@media screen and (min-width: 1024px) {
    /* Estilo para escritorio */
    
} 